.drop-down-content {
  display: none;
  position: absolute;
  margin-top: 4vh;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  overflow: auto;
}

.drop-down-button {
  color: white;
  background-color: black;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  position: relative;
}

.header-item:hover  .drop-down-content {
  display: block;
  position: absolute;
  top: 5%;
  z-index: 1;
  width:max-content;
}

.drop-down-item {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.drop-down-item:hover {
  background-color: #ad1414;
}

.header-item {
  display: inline-block;
  margin: 3px;
}


header {
  display: flex;
  padding: 2%;
  justify-content: space-between;
  background-color: black;
  color: white;
}

.image-carasoul {
  margin: 0;
  background-color: rgb(0, 0, 0);
}


body {      
  margin: 0;
}


.image-carasoul {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  align-items: center;
  color: white;
  height: 80vh;
}
.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.image-container img {
  width: 70%;
  height: auto;
  object-fit: cover; 
}

#prev{
  justify-self: end;
  font-size: 4vh;
  color: white;
  background-color: inherit;
  border: none;

}
#next{
  justify-self: start;
  font-size: 4vh;
  color: white;
  background-color: inherit;
  border: none;
}

.special-border {
  border: 8px #D74BFA solid;
}

button:hover{
  cursor: pointer;
}

@media (max-width: 600px) {
  .image-carasoul {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    color: white;
    height: 75vh;
  }
  .image-container img {
    width: 100%;
    height: auto;
    object-fit: cover; 
  }
  #prev {
    rotate: 90deg;
    justify-self: center;
  }
  #next {
    rotate: 90deg;
    justify-self: center;
  }
  h1 {
    font-size: 1.5em;
  }

  /* #nav-bar div:not(:first-child) {display: none;}
  #nav-bar div.icon {
    float: right;
    display: block;
  }

  #nav-bar.responsive {position: relative;}
  #nav-bar.responsive div.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  #nav-bar.responsive div {
    float: none;
    display: block;
    text-align: left;
  } */
  
}

@media screen and (max-width: 400px) {
  h1 {
    font-size: 1.2em;
  }
}

.icon {
  display: none;
  color: white;
  cursor: pointer;
  rotate: 180deg;
}

/* apply animation when image is switched
 */